* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.err-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.err-page {
    min-height: 100vh;
    margin-top: 5rem;
    text-align: center;
}

.not-found-img {
    width: 25rem;
}